:root {
  --background: rgb(212, 209, 162);
  --green_1: rgb(178, 224, 118);
  --green_2: rgb(27, 117, 65);
  --yellow_1: rgb(243, 235, 118);
  --yellow_2: rgb(243, 220, 118);
  --brown: rgb(121, 98, 26);
  --organge_1: rgb(255, 103, 15);
}
