.filter {
  display: flex;
  justify-content: center;
  margin: 5px;
}
.filter button {
  font-size: 1rem !important;
  padding: 7px 15px !important;
}
.filter button:not(.active) {
  background-color: rgb(235, 231, 228) !important;
  color: black;
}
