.backdrop {
  z-index: 100;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
}
.modalContainer {
  background-image: linear-gradient(var(--yellow_1), var(--yellow_2));
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: auto;
  text-align: center;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.1));
  margin: 20px 10px;
  padding: 5px;
  font-family: Papernotes;
}
.title {
  text-decoration: underline;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  font-family: Papernotes;
  background-color: transparent;
  border: none;
}
input:focus,
textarea:focus {
  outline: none;
  font-style: italic;
}
.description {
  width: 310px;
  height: 150px;
  padding: 7px;
  margin: 10px 0;
  overflow: auto;
  resize: none;
  font-size: 1.1rem;
  text-align: center;
  font-family: Papernotes;
  background-color: transparent;
  text-align: center;
  border: none;
}
.description::-webkit-scrollbar {
  width: 3px;
}
.description::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
}
.description::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}
.buttons {
  display: flex;
  justify-content: center;
}
.cancel {
  background-color: rgb(97, 96, 96) !important;
  margin-left: 20px !important;
}
